@model Jogo.Models.Personagem

@{
    ViewData["Title"] = "Detalhes do Personagem";
}
<!DOCTYPE html>

<html>
<head>
    <title>Detalhes do Personagem</title>
    <link rel="stylesheet" href="~/css/informacoes.css">
    <link rel="stylesheet" href="~/css/equipamentos.css">
</head>

<body>
    <section id="Informacoes">
    @if (Model != null)
    {
        <h1>@Model.Nome</h1>
        <p>Level: @Model.Level</p>
        <p>EXP: @Model.Exp</p>
        <p>Classe: @Model.Classe</p>
        <p>HP: @Model.HP</p>
        <p>MP: @Model.MP</p>
        <p>GOLD: </p>


    }
    else
    {
        <p>Personagem não encontrado.</p>
    }
    </section>

    <!-- Seção de Equipamentos com exemplos fictícios -->
    <section id="EquipamentosTopo">
        <h2>Equipamentos</h2>
        <ul>
            <li><span>Arma:</span> <span>Nada equipado</span></li>
            <li><span>Armadura:</span> <span>Armadura de Couro</span></li>
            <li><span>Acessório:</span> <span>Nada equipado</span></li>
            <!-- Adicione mais itens conforme necessário -->
        </ul>
    </section>

    <main>
        <!-- Conteúdo principal aqui -->
    </main>


</body>
</html>