@model Jogo.Models.DetalhesJogoViewModel
@{
    ViewData["Title"] = "Jogo";
}

<!DOCTYPE html>

<html>
<head>
    <title>Página principal</title>
    <link rel="stylesheet" href="~/css/informacoes.css">
    <link rel="stylesheet" href="~/css/equipamentos.css">
    <link rel="stylesheet" href="~/css/Batalha.css">
</head>

<body>
    <section id="Informacoes">
        @if (Model != null)
        {
            <h1>@Model.Personagem.Nome</h1>
            <p>Level: @Model.Personagem.Level</p>
            <p>EXP: @Model.Personagem.Exp</p>
            <p>Classe: @Model.Personagem.Classe</p>
            <p>HP: @Model.Personagem.HP</p>
            <p>MP: @Model.Personagem.MP</p>
            <p>GOLD: </p>
        }
        else
        {
            <p>Personagem não encontrado.</p>
        }
    </section>

    <!-- Seção de Equipamentos com exemplos fictícios -->
    <section id="EquipamentosTopo">
        <h2>Equipamentos</h2>
        <ul>
            <li><span>Arma:</span> <span>Nada equipado</span></li>
            <li><span>Armadura:</span> <span>Armadura de Couro</span></li>
            <li><span>Acessório:</span> <span>Nada equipado</span></li>
            <!-- Adicione mais itens conforme necessário -->
        </ul>
    </section>

    <main>
        <button id="abrirbatalha" onclick="openPopup()">Batalha</button>

        <div id="batalha" class="batalha" style="display: none;">
            <div class="conteudo-batalha">
                <span class="close" onclick="closePopup()">&times;</span>
                <h2>Batalha</h2>
                <div id="infoBatalhaPersonagem" class="infoBatalhaPersonagem">
                    <h1>@Model.Personagem.Nome</h1>
                    <p>HP: @Model.Personagem.HP</p>
                    <p>MP: @Model.Personagem.MP</p>
                    <button onclick="realizarAtaque()">Realizar Ataque</button>
                </div>

                <div id="infoBatalhaInimigo" class="infoBatalhaInimigo">
                    <h1 id="NomeInimigo">@Model.Inimigo.Nome</h1>
                    <p>HP: <span id="hpInimigo">@Model.Inimigo.HP</span></p>
                </div>
        </div>
    </main>

    <script src="~/js/Batalha.js"></script>

</body>
</html>