<!DOCTYPE html>

<html>
<head>
    <title>Criar Personagem</title>
    <link rel="stylesheet" href="~/css/CharCreator.css">
</head>
<body>

    <h2>Criar Personagem</h2>

    <form class="Charcreator" method="post" asp-action="CriarPersonagem" asp-controller="Personagem">
        <label for="nome">Nome do Personagem:</label>
        <input type="text" id="nome" name="nome" required>
        <br>

        <label for="classe">Escolha a Classe:</label>
        <select id="classe" name="classe" required>
            <option value="mago">Mago</option>
            <option value="arqueiro">Arqueiro</option>
            <option value="guerreiro">Guerreiro</option>
        </select>
        <br>

        <button type="submit">Criar Personagem</button>
    </form>

    @model List<Jogo.Models.Personagem>

    <!-- Exibição da lista de personagens -->
    <div class="listapersonagem">
        <h2>Lista de Personagens</h2>
        <ul>
            @if (Model != null)
            {
                foreach (var personagem in Model)
                {
                    <li class="personagens">
                        <div class="nome"><strong>@personagem.Nome</strong> - Level: @personagem.Level, Classe: @personagem.Classe</div>
                        <form method="post" asp-controller="Personagem" asp-action="SelecionarPersonagem" class="botoesLista">
                            <input type="hidden" name="personagemId" value="@personagem.Id" />
                            <button type="submit" class="selecionar">Selecionar</button>
                        </form>

                        <form method="post" asp-controller="Personagem" asp-action="ExcluirPersonagem" class="botoesLista">
                            <input type="hidden" name="personagemId" value="@personagem.Id" />
                            <button type="submit" class="excluir">Excluir</button>
                        </form>
                    </li>
                }
            }
            else
            {
                <p>Nenhum personagem disponível.</p>
            }
        </ul>
    </div>

    <script>
        document.querySelectorAll(".selecionar").forEach(function (button) {
            button.addEventListener("click", function () {
                var personagemId = this.dataset.personagemId;
                window.location.href = '~/Jogo/Jogo/' + personagemId;
            });
        });
    </script>

</body>
</html>